paths:
  youtube-dl: /usr/local/bin/youtube-dl
  ffmpeg: /usr/bin/ffmpeg
youtube:
  api_key: YOUR_API_KEY
  channel_id: UCG0GYTzLZNbITXIO63mjWlQ
feed:
  title: RaumZeitLabor Podcast
  url: http://raumzeitlabor.de/wiki/Podcast
  language: de-de
  subtitle: Der wöchentliche Podcast des RaumZeitLabor e.V.
  author: RaumZeitLabor e.V.
  summary: Wöchentliche Vortragsvideos der Öffentlichen RaumZeitLaborierung, jeden Dienstag ab 19 Uhr im RaumZeitLabor.
  description: Wöchentliche Vortragsvideos der Öffentlichen RaumZeitLaborierung, jeden Dienstag ab 19 Uhr im RaumZeitLabor.
  owner_name: RaumzeitLabor e.V.
  owner_mail: info@raumzeitlabor.de
  category: Technology
  flattr:
    user_id: raumzeitlabor
    tags: podcast,raumzeitlabor,rzl,hackerspace
